.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-result {
    text-decoration: none;
    color: navy;
    font-size: 1.5em;
}

.search-result:hover{
    text-decoration: none;
    cursor: pointer;
    color: gray;
}