.profile-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info{
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}