@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

.post-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.comment-header{
    display: flex;
    align-items: center;
}

.comment-meta{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 650px) and (max-width: 1024px) {
    .post-container{
        padding: 0 3em;
    }
  }
  
  @media only screen and (min-width: 1025px) {
    .post-container{
        padding: 0 12em;
    }
  }

/* @media only screen and (min-device-width : 900px)  {
    .post-container{
        padding: 0 3em;
    }
} */