.post-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.comment-header{
    display: flex;
    align-items: center;
}

.comment-meta{
    display: flex;
    flex-direction: column;
}

/* .post-title{
    grid-area: title;
}

.post-subtitle{
    grid-area: subtitle;
}

.post-bio{
    grid-area: bio;
}

.post-body{
    grid-area: body;
} */